div#outter {
    background-color: tomato;
    border-radius: 1rem;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset 0px 0px 20px 0px #d01515, 0px 6px 12px 0 #544e4e;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    padding-bottom: 40px;
}
