<!-- if current is undefined -->
<div id="outter" *ngIf="!current">
    <span>Retrieving your forecast...</span>
</div>

<!-- if current is defined -->
<div id="outter" *ngIf="current">
    <div>
        <span>{{current.city}}, {{current.country}} </span>
        <span>{{current.date | date:'fullDate'}}</span>
    </div>
    <div>
        <img width=50 height=50 [src]="current.image">
        <span>{{current.temperature | number: '1.0-0'}}˚F</span>
    </div>
    <div>
        {{current.description}}
    </div>
</div>